img,
video {
  max-width: 100%;
  height: auto;
  border: 5px #a7a0a0 solid;
  border-radius: 11px;
}
html {
  background: #070707;
}
.vid_container {
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color: #121212;
    margin-bottom: 150px;
}

li#connect {
  display: flex;
  list-style: none;
  padding: 5px 20px;
  align-items: center;
  font-size: 10pt;
  background-color: rgba(15, 162, 15, 0.86);
  height: 50px;
  padding-left: 1rem;
  width: 240px;
}
footer.text-gray-600.body-font {
    width: 100%;
    bottom: 0;
}
h1.title-font {
    color: white;
    background-color: #dc2626;
}